.card {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 15px;
   border-radius: 10px;
}

.card:hover {
   box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}

.card:focus-within {
   box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.16), 0px 0.5px 2px rgba(96, 97, 112, 0.24);
}

.desc {
   font-size: 16px;
   padding-top: 14px;
   font-weight: 600;
   position: relative;
}

.image {
   width: 100%;
   object-fit: contain;
   margin-bottom: 16px;
}

.price {
   color: rgb(0, 0, 0);
   font-size: 20px;
   line-height: 24px;
   font-weight: 800;
   display: block;
   margin-bottom: 6px;
}

.old-price {
   font-size: 12px;
   position: absolute;
   top: 0;
   left: 0;
   font-weight: 600;
   line-height: 14px;
   text-decoration: line-through;
   display: block;
   height: 14px;
}

.price_discount {
   color: rgb(245, 66, 54);
}

.weight {
   font-size: 12px;
   line-height: 14px;
   color: rgb(123, 142, 152);
   display: block;
   margin-bottom: 2px;
}

.name {
   font-size: 16px;
   line-height: 1.25;
}

.discount {
   padding: 2px 8px;
   font-weight: 800;
   font-size: 16px;
   line-height: 20px;
   color: rgb(255, 255, 255);
   background-color: rgb(255, 0, 0);
   border-radius: 20px;
}

.sticky {
   position: absolute;
   padding: 10px;
}

.sticky_type_top_left {
   top: 0;
   left: 0;
}

.sticky_type_top-right {
   top: 0;
   right: 0;
}

.favorite {
   cursor: pointer;
   background: none;
   border: none;
   padding: 0;
   display: flex;
   fill: rgb(254, 241, 241);

}

.isLike {
   fill: rgb(255, 0, 0);
}

.link {
   text-decoration: none;
   color: currentColor;
}

.tag {
   padding: 2px 8px;
   border-radius: 20px;
   font-weight: 800;
   font-size: 16px;
   line-height: 20px;
}

.tag_discount {
   background-color: #f44336;
}


.tag_type_new {
   background-color: rgb(3, 169, 244);
   color: rgb(255, 255, 255);
}

.tag_type_sale {
   background-color: rgb(1, 165, 78);
   color: rgb(255, 255, 255);
}

.tag_type_last_product {
   background-color: rgb(255, 192, 203);
   color: rgb(255, 255, 255);
}